  
h9 {
     font-size: 20px; color: rgb(234, 152, 81); font-style: italic;
    }
h3 {
     font-size: 20px; color: rgb(234, 152, 81); font-style: italic;
    }
h2 {
    color: gray;
}
.container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}
.box8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box10 {
    text-align: center;
}
.box11 {
    font-size: 12px;
    text-decoration: underline;
}
.box12 {
    font-size: 12px;
    text-decoration: underline;
    padding-left: 20px;
}

h7 { 
    font-size: 17px; color: rgb(215, 142, 154);
}
